<mat-toolbar color="primary" class="app-header" xmlns="http://www.w3.org/1999/html">
  <img ngSrc="/assets/images/curriculo-icon.png" alt="" width="80" height= "80" class="logo" />
  <span class="app-logo">Currículo Online</span>

  <span class="spacer"></span>


  <button mat-raised-button color="primary" routerLink="/curriculo" class="nav-button">Currículo</button>
  <button mat-raised-button color="accent" routerLink="/curriculo/experiencia-nova" class="nav-button">Nova Experiência</button>
  <button mat-raised-button color="primary" routerLink="/contato" class="nav-button">Contato</button>
  <button mat-raised-button color="primary" routerLink="/sobre" class="nav-button">Sobre</button>

</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>

<mat-toolbar color="primary" class="app-footer" >
  <span class="footer-text">© 2025 Meu Currículo - Todos os direitos reservados.</span>
</mat-toolbar>
